body {
  overflow-x: hidden;
}

.about-section {
  margin-top: 3.5rem;
  background-color: #f6f4f0;
  padding: 2rem 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.img-txt {
  margin: 2rem auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.abt-img img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  animation: pulseBorder 6s infinite ease-in-out;
  border: 5px solid transparent;
  background: linear-gradient(#a56abd, #a56abd) padding-box,
    linear-gradient(135deg, #ff99cc, #cc99ff, #66ccff) border-box;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes pulseBorder {
  0% {
    background: linear-gradient(#a56abd, #a56abd) padding-box,
      linear-gradient(135deg, #ff99cc, #cc99ff, #66ccff) border-box;
  }
  50% {
    background: linear-gradient(#a56abd, #a56abd) padding-box,
      linear-gradient(135deg, #cc99ff, #66ccff, #ff99cc) border-box;
  }
  100% {
    background: linear-gradient(#a56abd, #a56abd) padding-box,
      linear-gradient(135deg, #ff99cc, #cc99ff, #66ccff) border-box;
  }
}

.abt-txt h3 {
  font-family: 'Tiro Tamil', serif;
  font-size: 2rem;
  color: #198754;
  margin-bottom: 1rem;
}

.abt-txt h4 {
  font-size: 1.2rem;
  color: #0703ff;
  margin-bottom: 1rem;
}

.abt-txt p {
  font-family: 'Mukta Malar';
  font-size: 1.4rem;
  line-height: 1.5;
  color: #940212;
}

/* Responsive */

@media (max-width: 576px) {
  .about-section {
    margin-top: 5rem;
    padding: 0;
  }

  .abt-txt h3 {
    font-family: 'Tiro Tamil', serif;
    font-size: 2rem;
    color: #198754;
    margin: 1rem 0;
  }

  .abt-txt h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #0703ff;
  }

  .abt-txt p {
    font-family: 'Mukta Malar';
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #940212;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
}
