<div className="sign-up-tile-area">
  <div className="sign-up-tile">
    <h3>Finally, a dictionary with a soul</h3>
    <div className="tile-bg tile-bg1">
      <img src="/images/wod.svg" alt="Word of the day" />
    </div>
    <p>
      Our definitions were written by humans, for humans. Each word has a
      friendly explanation that makes it easy to remember.
    </p>
  </div>
  <div className="sign-up-tile">
    <h3>Real world examples</h3>
    <div className="tile-bg tile-bg2">
      <img src="/images/encyclopedia.svg" alt="Encyclopedia" />
    </div>
    <p>
      Discover thousands of example sentences from current newspapers,
      magazines, and literature.
    </p>
  </div>
  <div className="sign-up-tile">
    <h3>World’s smartest, fastest dictionary</h3>
    <div className="tile-bg tile-bg3">
      <img src="/images/quiz.svg" alt="Quiz" />
    </div>
    <p>
      Find the word you’re looking for faster than any other online dictionary.
      That’s less time searching, more time learning.
    </p>
  </div>
</div>
