h2 {
  font-family: 'Anek Tamil';
}

h3 {
  font-family: 'Tiro Tamil';
}

h4 {
  font-family: 'Pavanam';
  font-size: 1.2rem;
}

p {
  font-family: 'Mukta Malar';
  font-size: 1rem;
}

/* -------------------------- */

.sign-up-tile-area {
  margin: 50px 0;
  text-align: center;
}

.imgs {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
}

.sign-up-tile {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #545454;
  padding: 20px 0;
  margin: 0 auto; /* center the content inside the col */
  background: #fff;
  height: 100%;
}

.sign-up-tile .tile-bg1 {
  background: rgba(0, 144, 227, 0.25);
}

.sign-up-tile .tile-bg2 {
  background: rgba(179, 179, 252, 0.5);
}

.sign-up-tile .tile-bg3 {
  background: rgba(178, 109, 201, 0.25);
}

.sign-up-tile .tile-bg {
  position: relative;
  height: 114px;
  margin-top: 41px;
  margin-bottom: 28px;
}
